<div class="transactions">
  <div *ngIf="transactions.length > 0; then noEmpty; else empty"></div>

  <ng-template #empty>
    <h2 class="transactions__empty-title">No hay transacciones</h2>
  </ng-template>

  <ng-template #noEmpty>
    <div class="transactions__header">
      <h3>Transactions</h3>
      <a routerLink="add">add</a>
    </div>
    <app-transaction
      *ngFor="let transaction of transactions"
      [transaction]="transaction"
      (removeTransactionEvent)="removeTransaction($event)"
    />
  </ng-template>
</div>
