@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-alto {
  width: 220px;
  height: 310px;
  background-color: red;
}

body {
  background-color: #bebebe;
}

h1 {
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
}

.text {
  font-family: "Montserrat", sans-serif;
}

.card {
  display: block;
  padding: 20px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3058823529);
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  background-color: #c7c7c7;
  border-radius: 10px;
}
.card .card-title {
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card .card-body {
  color: "Montserrat", sans-serif;
  font-size: 1rem;
}
.card .card-body a {
  color: #005bc4;
  text-decoration: none;
  font-size: 0.5rem;
}

.btn {
  outline: none;
  background-color: #5263fa;
  color: #fff;
}

.review {
  display: grid;
  grid-template: 1fr auto/1fr;
  border: 2px solid magenta;
}
.review__header {
  background-color: #5263fa;
}
.review__header-title {
  color: #fff;
  padding: 1rem;
}
.review__body {
  background-color: #fff;
  padding: 1rem;
}
.review__body p {
  color: #000;
}
.review__user {
  background-color: #52bffa;
  padding: 0.5rem;
  margin-top: 0.6rem;
  cursor: pointer;
}
.review__more {
  background-image: linear-gradient(to right top, #401300, #73380f, #a46511, #cd990c, #ebd312);
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}
.review__more:hover {
  background-color: #3945af;
}

.alert-success {
  background-color: #99cc99;
  border: 1px solid green;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}
.alert-success h3 {
  color: #004d00;
  border-bottom: 1px solid green;
  margin-bottom: 5px;
}
.alert-success p {
  color: #00b300;
}

.alert-warning {
  background-color: #ffdb99;
  border: 1px solid orange;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}
.alert-warning h3 {
  color: #cc8400;
  border-bottom: 1px solid orange;
  margin-bottom: 5px;
}
.alert-warning p {
  color: #ffb733;
}

.alert-error {
  background-color: #ff9999;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}
.alert-error h3 {
  color: #cc0000;
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}
.alert-error p {
  color: #ff3333;
}

.alert-info {
  background-color: #9eade3;
  border: 1px solid #0d32b8;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}
.alert-info h3 {
  color: #0a2588;
  border-bottom: 1px solid #0d32b8;
  margin-bottom: 5px;
}
.alert-info p {
  color: #103fe8;
}

.text-primary {
  color: #5263fa;
}

.bg-primary {
  background-color: #5263fa;
}

.text-primary-light-1 {
  color: #6373fb;
}

.bg-primary-light-1 {
  background-color: #6373fb;
}

.text-primary-light-2 {
  color: #7582fb;
}

.bg-primary-light-2 {
  background-color: #7582fb;
}

.text-primary-light-3 {
  color: #8692fc;
}

.bg-primary-light-3 {
  background-color: #8692fc;
}

.text-primary-light-4 {
  color: #97a1fc;
}

.bg-primary-light-4 {
  background-color: #97a1fc;
}

.text-primary-light-5 {
  color: #a9b1fd;
}

.bg-primary-light-5 {
  background-color: #a9b1fd;
}

.text-primary-light-6 {
  color: #bac1fd;
}

.bg-primary-light-6 {
  background-color: #bac1fd;
}

.text-primary-light-7 {
  color: #cbd0fe;
}

.bg-primary-light-7 {
  background-color: #cbd0fe;
}

.text-primary-light-8 {
  color: #dce0fe;
}

.bg-primary-light-8 {
  background-color: #dce0fe;
}

.text-primary-light-9 {
  color: #eeefff;
}

.bg-primary-light-9 {
  background-color: #eeefff;
}

.text-primary-dark-1 {
  color: #4a59e1;
}

.bg-primary-dark-1 {
  background-color: #4a59e1;
}

.text-primary-dark-2 {
  color: #424fc8;
}

.bg-primary-dark-2 {
  background-color: #424fc8;
}

.text-primary-dark-3 {
  color: #3945af;
}

.bg-primary-dark-3 {
  background-color: #3945af;
}

.text-primary-dark-4 {
  color: #313b96;
}

.bg-primary-dark-4 {
  background-color: #313b96;
}

.text-primary-dark-5 {
  color: #29327d;
}

.bg-primary-dark-5 {
  background-color: #29327d;
}

.text-primary-dark-6 {
  color: #212864;
}

.bg-primary-dark-6 {
  background-color: #212864;
}

.text-primary-dark-7 {
  color: #191e4b;
}

.bg-primary-dark-7 {
  background-color: #191e4b;
}

.text-primary-dark-8 {
  color: #101432;
}

.bg-primary-dark-8 {
  background-color: #101432;
}

.text-primary-dark-9 {
  color: #080a19;
}

.bg-primary-dark-9 {
  background-color: #080a19;
}

.text-secondary {
  color: #fa52f7;
}

.bg-secondary {
  background-color: #fa52f7;
}

.text-secondary-light-1 {
  color: #fb63f8;
}

.bg-secondary-light-1 {
  background-color: #fb63f8;
}

.text-secondary-light-2 {
  color: #fb75f9;
}

.bg-secondary-light-2 {
  background-color: #fb75f9;
}

.text-secondary-light-3 {
  color: #fc86f9;
}

.bg-secondary-light-3 {
  background-color: #fc86f9;
}

.text-secondary-light-4 {
  color: #fc97fa;
}

.bg-secondary-light-4 {
  background-color: #fc97fa;
}

.text-secondary-light-5 {
  color: #fda9fb;
}

.bg-secondary-light-5 {
  background-color: #fda9fb;
}

.text-secondary-light-6 {
  color: #fdbafc;
}

.bg-secondary-light-6 {
  background-color: #fdbafc;
}

.text-secondary-light-7 {
  color: #fecbfd;
}

.bg-secondary-light-7 {
  background-color: #fecbfd;
}

.text-secondary-light-8 {
  color: #fedcfd;
}

.bg-secondary-light-8 {
  background-color: #fedcfd;
}

.text-secondary-light-9 {
  color: #ffeefe;
}

.bg-secondary-light-9 {
  background-color: #ffeefe;
}

.text-secondary-dark-1 {
  color: #e14ade;
}

.bg-secondary-dark-1 {
  background-color: #e14ade;
}

.text-secondary-dark-2 {
  color: #c842c6;
}

.bg-secondary-dark-2 {
  background-color: #c842c6;
}

.text-secondary-dark-3 {
  color: #af39ad;
}

.bg-secondary-dark-3 {
  background-color: #af39ad;
}

.text-secondary-dark-4 {
  color: #963194;
}

.bg-secondary-dark-4 {
  background-color: #963194;
}

.text-secondary-dark-5 {
  color: #7d297c;
}

.bg-secondary-dark-5 {
  background-color: #7d297c;
}

.text-secondary-dark-6 {
  color: #642163;
}

.bg-secondary-dark-6 {
  background-color: #642163;
}

.text-secondary-dark-7 {
  color: #4b194a;
}

.bg-secondary-dark-7 {
  background-color: #4b194a;
}

.text-secondary-dark-8 {
  color: #321031;
}

.bg-secondary-dark-8 {
  background-color: #321031;
}

.text-secondary-dark-9 {
  color: #190819;
}

.bg-secondary-dark-9 {
  background-color: #190819;
}

.text-error {
  color: #fa5252;
}

.bg-error {
  background-color: #fa5252;
}

.text-error-light-1 {
  color: #fb6363;
}

.bg-error-light-1 {
  background-color: #fb6363;
}

.text-error-light-2 {
  color: #fb7575;
}

.bg-error-light-2 {
  background-color: #fb7575;
}

.text-error-light-3 {
  color: #fc8686;
}

.bg-error-light-3 {
  background-color: #fc8686;
}

.text-error-light-4 {
  color: #fc9797;
}

.bg-error-light-4 {
  background-color: #fc9797;
}

.text-error-light-5 {
  color: #fda9a9;
}

.bg-error-light-5 {
  background-color: #fda9a9;
}

.text-error-light-6 {
  color: #fdbaba;
}

.bg-error-light-6 {
  background-color: #fdbaba;
}

.text-error-light-7 {
  color: #fecbcb;
}

.bg-error-light-7 {
  background-color: #fecbcb;
}

.text-error-light-8 {
  color: #fedcdc;
}

.bg-error-light-8 {
  background-color: #fedcdc;
}

.text-error-light-9 {
  color: #ffeeee;
}

.bg-error-light-9 {
  background-color: #ffeeee;
}

.text-error-dark-1 {
  color: #e14a4a;
}

.bg-error-dark-1 {
  background-color: #e14a4a;
}

.text-error-dark-2 {
  color: #c84242;
}

.bg-error-dark-2 {
  background-color: #c84242;
}

.text-error-dark-3 {
  color: #af3939;
}

.bg-error-dark-3 {
  background-color: #af3939;
}

.text-error-dark-4 {
  color: #963131;
}

.bg-error-dark-4 {
  background-color: #963131;
}

.text-error-dark-5 {
  color: #7d2929;
}

.bg-error-dark-5 {
  background-color: #7d2929;
}

.text-error-dark-6 {
  color: #642121;
}

.bg-error-dark-6 {
  background-color: #642121;
}

.text-error-dark-7 {
  color: #4b1919;
}

.bg-error-dark-7 {
  background-color: #4b1919;
}

.text-error-dark-8 {
  color: #321010;
}

.bg-error-dark-8 {
  background-color: #321010;
}

.text-error-dark-9 {
  color: #190808;
}

.bg-error-dark-9 {
  background-color: #190808;
}

.text-info {
  color: #52bffa;
}

.bg-info {
  background-color: #52bffa;
}

.text-info-light-1 {
  color: #63c5fb;
}

.bg-info-light-1 {
  background-color: #63c5fb;
}

.text-info-light-2 {
  color: #75ccfb;
}

.bg-info-light-2 {
  background-color: #75ccfb;
}

.text-info-light-3 {
  color: #86d2fc;
}

.bg-info-light-3 {
  background-color: #86d2fc;
}

.text-info-light-4 {
  color: #97d9fc;
}

.bg-info-light-4 {
  background-color: #97d9fc;
}

.text-info-light-5 {
  color: #a9dffd;
}

.bg-info-light-5 {
  background-color: #a9dffd;
}

.text-info-light-6 {
  color: #bae5fd;
}

.bg-info-light-6 {
  background-color: #bae5fd;
}

.text-info-light-7 {
  color: #cbecfe;
}

.bg-info-light-7 {
  background-color: #cbecfe;
}

.text-info-light-8 {
  color: #dcf2fe;
}

.bg-info-light-8 {
  background-color: #dcf2fe;
}

.text-info-light-9 {
  color: #eef9ff;
}

.bg-info-light-9 {
  background-color: #eef9ff;
}

.text-info-dark-1 {
  color: #4aace1;
}

.bg-info-dark-1 {
  background-color: #4aace1;
}

.text-info-dark-2 {
  color: #4299c8;
}

.bg-info-dark-2 {
  background-color: #4299c8;
}

.text-info-dark-3 {
  color: #3986af;
}

.bg-info-dark-3 {
  background-color: #3986af;
}

.text-info-dark-4 {
  color: #317396;
}

.bg-info-dark-4 {
  background-color: #317396;
}

.text-info-dark-5 {
  color: #29607d;
}

.bg-info-dark-5 {
  background-color: #29607d;
}

.text-info-dark-6 {
  color: #214c64;
}

.bg-info-dark-6 {
  background-color: #214c64;
}

.text-info-dark-7 {
  color: #19394b;
}

.bg-info-dark-7 {
  background-color: #19394b;
}

.text-info-dark-8 {
  color: #102632;
}

.bg-info-dark-8 {
  background-color: #102632;
}

.text-info-dark-9 {
  color: #081319;
}

.bg-info-dark-9 {
  background-color: #081319;
}

.text-success {
  color: #98fa52;
}

.bg-success {
  background-color: #98fa52;
}

.text-success-light-1 {
  color: #a2fb63;
}

.bg-success-light-1 {
  background-color: #a2fb63;
}

.text-success-light-2 {
  color: #adfb75;
}

.bg-success-light-2 {
  background-color: #adfb75;
}

.text-success-light-3 {
  color: #b7fc86;
}

.bg-success-light-3 {
  background-color: #b7fc86;
}

.text-success-light-4 {
  color: #c1fc97;
}

.bg-success-light-4 {
  background-color: #c1fc97;
}

.text-success-light-5 {
  color: #ccfda9;
}

.bg-success-light-5 {
  background-color: #ccfda9;
}

.text-success-light-6 {
  color: #d6fdba;
}

.bg-success-light-6 {
  background-color: #d6fdba;
}

.text-success-light-7 {
  color: #e0fecb;
}

.bg-success-light-7 {
  background-color: #e0fecb;
}

.text-success-light-8 {
  color: #eafedc;
}

.bg-success-light-8 {
  background-color: #eafedc;
}

.text-success-light-9 {
  color: #f5ffee;
}

.bg-success-light-9 {
  background-color: #f5ffee;
}

.text-success-dark-1 {
  color: #89e14a;
}

.bg-success-dark-1 {
  background-color: #89e14a;
}

.text-success-dark-2 {
  color: #7ac842;
}

.bg-success-dark-2 {
  background-color: #7ac842;
}

.text-success-dark-3 {
  color: #6aaf39;
}

.bg-success-dark-3 {
  background-color: #6aaf39;
}

.text-success-dark-4 {
  color: #5b9631;
}

.bg-success-dark-4 {
  background-color: #5b9631;
}

.text-success-dark-5 {
  color: #4c7d29;
}

.bg-success-dark-5 {
  background-color: #4c7d29;
}

.text-success-dark-6 {
  color: #3d6421;
}

.bg-success-dark-6 {
  background-color: #3d6421;
}

.text-success-dark-7 {
  color: #2e4b19;
}

.bg-success-dark-7 {
  background-color: #2e4b19;
}

.text-success-dark-8 {
  color: #1e3210;
}

.bg-success-dark-8 {
  background-color: #1e3210;
}

.text-success-dark-9 {
  color: #0f1908;
}

.bg-success-dark-9 {
  background-color: #0f1908;
}

.text-warning {
  color: #faa952;
}

.bg-warning {
  background-color: #faa952;
}

.text-warning-light-1 {
  color: #fbb263;
}

.bg-warning-light-1 {
  background-color: #fbb263;
}

.text-warning-light-2 {
  color: #fbba75;
}

.bg-warning-light-2 {
  background-color: #fbba75;
}

.text-warning-light-3 {
  color: #fcc386;
}

.bg-warning-light-3 {
  background-color: #fcc386;
}

.text-warning-light-4 {
  color: #fccb97;
}

.bg-warning-light-4 {
  background-color: #fccb97;
}

.text-warning-light-5 {
  color: #fdd4a9;
}

.bg-warning-light-5 {
  background-color: #fdd4a9;
}

.text-warning-light-6 {
  color: #fdddba;
}

.bg-warning-light-6 {
  background-color: #fdddba;
}

.text-warning-light-7 {
  color: #fee5cb;
}

.bg-warning-light-7 {
  background-color: #fee5cb;
}

.text-warning-light-8 {
  color: #feeedc;
}

.bg-warning-light-8 {
  background-color: #feeedc;
}

.text-warning-light-9 {
  color: #fff6ee;
}

.bg-warning-light-9 {
  background-color: #fff6ee;
}

.text-warning-dark-1 {
  color: #e1984a;
}

.bg-warning-dark-1 {
  background-color: #e1984a;
}

.text-warning-dark-2 {
  color: #c88742;
}

.bg-warning-dark-2 {
  background-color: #c88742;
}

.text-warning-dark-3 {
  color: #af7639;
}

.bg-warning-dark-3 {
  background-color: #af7639;
}

.text-warning-dark-4 {
  color: #966531;
}

.bg-warning-dark-4 {
  background-color: #966531;
}

.text-warning-dark-5 {
  color: #7d5529;
}

.bg-warning-dark-5 {
  background-color: #7d5529;
}

.text-warning-dark-6 {
  color: #644421;
}

.bg-warning-dark-6 {
  background-color: #644421;
}

.text-warning-dark-7 {
  color: #4b3319;
}

.bg-warning-dark-7 {
  background-color: #4b3319;
}

.text-warning-dark-8 {
  color: #322210;
}

.bg-warning-dark-8 {
  background-color: #322210;
}

.text-warning-dark-9 {
  color: #191108;
}

.bg-warning-dark-9 {
  background-color: #191108;
}

.text-gray {
  color: #8b8b8b;
}

.bg-gray {
  background-color: #8b8b8b;
}

.text-gray-light-1 {
  color: #979797;
}

.bg-gray-light-1 {
  background-color: #979797;
}

.text-gray-light-2 {
  color: #a2a2a2;
}

.bg-gray-light-2 {
  background-color: #a2a2a2;
}

.text-gray-light-3 {
  color: #aeaeae;
}

.bg-gray-light-3 {
  background-color: #aeaeae;
}

.text-gray-light-4 {
  color: #b9b9b9;
}

.bg-gray-light-4 {
  background-color: #b9b9b9;
}

.text-gray-light-5 {
  color: #c5c5c5;
}

.bg-gray-light-5 {
  background-color: #c5c5c5;
}

.text-gray-light-6 {
  color: #d1d1d1;
}

.bg-gray-light-6 {
  background-color: #d1d1d1;
}

.text-gray-light-7 {
  color: gainsboro;
}

.bg-gray-light-7 {
  background-color: gainsboro;
}

.text-gray-light-8 {
  color: #e8e8e8;
}

.bg-gray-light-8 {
  background-color: #e8e8e8;
}

.text-gray-light-9 {
  color: #f3f3f3;
}

.bg-gray-light-9 {
  background-color: #f3f3f3;
}

.text-gray-dark-1 {
  color: #7d7d7d;
}

.bg-gray-dark-1 {
  background-color: #7d7d7d;
}

.text-gray-dark-2 {
  color: #6f6f6f;
}

.bg-gray-dark-2 {
  background-color: #6f6f6f;
}

.text-gray-dark-3 {
  color: #616161;
}

.bg-gray-dark-3 {
  background-color: #616161;
}

.text-gray-dark-4 {
  color: #535353;
}

.bg-gray-dark-4 {
  background-color: #535353;
}

.text-gray-dark-5 {
  color: #464646;
}

.bg-gray-dark-5 {
  background-color: #464646;
}

.text-gray-dark-6 {
  color: #383838;
}

.bg-gray-dark-6 {
  background-color: #383838;
}

.text-gray-dark-7 {
  color: #2a2a2a;
}

.bg-gray-dark-7 {
  background-color: #2a2a2a;
}

.text-gray-dark-8 {
  color: #1c1c1c;
}

.bg-gray-dark-8 {
  background-color: #1c1c1c;
}

.text-gray-dark-9 {
  color: #0e0e0e;
}

.bg-gray-dark-9 {
  background-color: #0e0e0e;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

/*# sourceMappingURL=style.css.map */
