@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.product {
  display: flex;
  max-width: 70%;
  margin: auto;
}
.product__image {
  padding: 20px;
}
.product__image img {
  width: 250px;
}
.product__description {
  padding: 20px;
}
.product__description h2 {
  font-family: "Montserrat", sans-serif;
  color: #383879;
}
.product__description p {
  font-family: "Montserrat", sans-serif;
}
.product__description h4 {
  font-family: "Montserrat", sans-serif;
  color: #164de4;
}
