ul.tareas {
  list-style-type: none;
  li {
    border: 1px solid #393939;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .icono {
      color: #cf00b3;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover {
        color: #ff0cdf;
      }
    }
  }
  .terminada {
    background: #13752a;
    text-decoration: line-through;
  }
}

form {
  fieldset {
    border: none;
    input[type="submit"] {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.error {
  font-weight: normal;
  background-color: #fcaebb;
  color: #790000;
  border: 1px solid #790000;
  padding: 5px 10px;
  border-radius: 7px;
}

.languages {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  span {
    cursor: pointer;
    font-size: 1.5rem;
  }
}
