ul.tareas {
  list-style-type: none;
  li {
    border: 1px solid #393939;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
