// Definición de mixin
@mixin alert($color: green, $corner: 5px) {
  $border: 1px solid $color;
  background-color: mix(white, $color, 60%);
  border: $border;
  padding: 10px 20px;
  border-radius: $corner;
  margin: 10px;
  h3 {
    color: darken($color, 10%);
    border-bottom: $border;
    margin-bottom: 5px;
  }
  p {
    color: lighten($color, 10%);
  }
}
// Uso de mixin
.alert-success {
  @include alert();
}
.alert-warning {
  @include alert($color: orange, $corner: 10px);
}
.alert-error {
  @include alert($color: red);
}
.alert-info {
  @include alert($color: #0d32b8);
}
