@use "../variables" as v;

.card {
  display: block;
  padding: 20px;
  box-shadow: 2px 2px 7px #0000004e;
  font-family: v.$font-base;
  margin: 20px;
  background-color: #c7c7c7;
  border-radius: v.$border-radius-sm;

  .card-title {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 10px;
    font-size: v.$font-size-lg;
  }

  .card-body {
    color: v.$font-base;
    font-size: v.$font-size-base;
    a {
      color: v.$color-link;
      text-decoration: none;
      font-size: v.$font-size-xsm;
    }
  }
}
