@use "../variables" as v;

.card {
  display: block;
  padding: 20px;
  box-shadow: 2px 2px 7px #0000004e;
  font-family: v.$fuente-principal;
  margin: 20px;
  background-color: #c7c7c7;
  border-radius: 7px;

  .card-title {
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 10px;
  }

  .card-body {
    color: v.$color-fuente;
    font-size: 0.8rem;
    a {
      color: v.$color-link;
      text-decoration: none;
    }
  }
}
