.contenedor {
  /* Viewport Width */
  width: 100vw;
  /* Viewport Height */
  height: 100vh;
  /* Establece el layout de Grid */
  display: grid;
  /* Espacio entre las áreas */
  gap: 10px;
  /* Establece las filas y columnas del layout */
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 1fr 3fr;
  /* Establece las áreas */
  grid-template-areas:
    "header header"
    "menu contenido"
    "menu footer";

  background-color: #000;
}
.header {
  background-color: #9ff993;
  grid-area: header;
}
.menu {
  background-color: #93e3f9;
  grid-area: menu;
}
.contenido {
  background-color: #bc93f9;
  grid-area: contenido;
  display: flex;
  gap: 50px;
  /* flex-direction: column; */
  flex-direction: row;
  /* ALINEACION EN MAIN AXIS */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* ALINEACION EN CROSS AXIS */
  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */

  /* WRAP */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */

  /* ALINEACION DE CONTENIDO */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  align-content: center;
}
.contenido .item {
  width: 100px;
  height: 100px;
  background: #ffe837;
  border: 2px solid #ff0000;
}
.contenido .item-diferente {
  align-self: flex-end;
}
.footer {
  background-color: #f9f793;
  grid-area: footer;
}
