@use "fuente";
@use "reset";
@use "variables" as v;
@use "components";

body {
  background-color: v.$color-fondo-principal;
}

h1 {
  color: v.$color-fuente;
  font-family: v.$fuente-principal;
}

p {
  color: v.$color-fuente;
  font-family: v.$fuente-principal;
}
