// Fonts
$font-family: "Montserrat", sans-serif;

// Backgrounds
$container-bg: linear-gradient(
  to left top,
  #d14167,
  #d84668,
  #de4c69,
  #e55169,
  #eb576a
);
$main-bg: linear-gradient(
  to right bottom,
  #d14167,
  #d84668,
  #de4c69,
  #e55169,
  #eb576a
);

// Colors
$white: #fff;
$black: #353535;
$gray: #626262;
$error: #d84668;
