.contenedor {
  /* Viewport Width */
  width: 100vw;
  /* Viewport Height */
  height: 100vh;
  /* Establece el layout de Grid */
  display: grid;
  /* Espacio entre las áreas */
  gap: 10px;
  /* Establece las filas y columnas del layout */
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 1fr 3fr;
  /* Establece las áreas */
  grid-template-areas:
    "header header"
    "menu contenido"
    "menu footer";

  background-color: #000;
}
.header {
  background-color: #9ff993;
  grid-area: header;
}
.menu {
  background-color: #93e3f9;
  grid-area: menu;
}
.contenido {
  background-color: #bc93f9;
  grid-area: contenido;
}
.footer {
  background-color: #f9f793;
  grid-area: footer;
}
