div {
  background-color: #ffc0cb;
  color: #690269;
  border: 1px solid #ff00ff;

  /* Márgenes por separado */
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 50px;

  /* Márgenes en una sola instrucción */
  margin: 10px 20px 5px 50px;

  /* Márgenes de 2 valores: arriba/abajo y derecha/izquierda */
  margin: 20px 50px;

  /* Márgen de todo el box */
  margin: 15px;
}
