table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
}

thead tr {
  background-color: #5c6d70;
  color: #e0ac9d;
}

tbody tr {
  cursor: pointer;
}

.edad {
  text-align: center;
  color: red;
  background: black;
}

td:last-child {
  text-align: center;
}

/* COLORES ALTERNOS */
/* even => par
odd => impar */
tbody tr:nth-child(odd) {
  background-color: #e0ac9d;
}

/* Mouse sobre la fila */
tbody tr:hover {
  background-color: #a37774;
}
