// Fuentes de la aplicación
$main-font: "Fira Sans", sans-serif;

// Colores
$header-bg-color: #4564ad;
$header-color: #fff;
$badge-bg-color: #8d2020;

// Cart container
$cart-header-bg-color: #5783e8;
$cart-header-text-color: #fff;
$cart-price-color: #1b488f;
$cart-remove-item-btn-color: #52337e;
$cart-remove-item-btn-color-hover: #7e3351;
$cart-amount-btn-color: #402760;
$cart-clear-btn-bg: #ffe6ff;
$cart-clear-btn-color: #f748f7;
$cart-empty-color: #334d8a;

// Modal
$modal-bg: #fff;
$modal-btn-confirm-bg: #c0fbc0;
$modal-btn-confirm-text: #4c8b4c;
$modal-btn-cancel-bg: #fbc0e8;
$modal-btn-cancel-text: #8b4c74;
